@import "../css/common/fonts.css";


* {
    box-sizing: border-box;
   /* outline: 1px solid red; */
    /* border: none !important; */
}

img{
    max-width: 100%;
}

html{
    background-color: #EBEBEB;
    background-image: url("../images/lookbook_page/background_2round_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}


/* --------------------網頁最上方浮動menubar-------------------- */


div.menubar{
    width: 100%;
    /* height: 100vh; */
    /* border: 10px solid orange; */
    background-image: url("../images/header/menubar.png");
    background-position: center;
    background-size: cover;
    z-index: 40;
    position: sticky;    
    top: 0;
    height: 99px;
    background-repeat: no-repeat;
    /* max-width: 1902px; */
    min-width: 1140px;
}

.menubar > .menubar_icon{
    position: absolute;
    top: 28px;
    right: 10px;
    width: 140px;
    display: flex;
    justify-content: space-around;
    /* border: 2px solid blue; */
}


.menubar > .menubar_icon > a{
    width: 28px;
}


.menubar > .menubar_icon > a img{
    /* border: 2px solid rgb(171, 171, 233); */
    width: 100%;
    opacity: 0.5;
    vertical-align: bottom; 
    /* div包圖片下方完全貼齊  */
}


/* .menubar > .menubar_icon > a img{
    width: 60%;
    margin: 0 14px 0 14px;
    opacity: 0.5;
} */




.menubar > .menubar_icon > a img:hover{
    opacity: 1;
    transition: all 200ms ease-in-out;
}




/* div.menubar > img .menubar_img{
    min-width: 1140px;
} */



/* --------------------banner / header區塊-------------------- */
*{
    margin:0;
    padding:0;
}

header{
    min-width: 1140px;
    width: 100%;
    margin-top: -20px;
    /* max-width: 1902px; */
}

.banner{
    height: 100vh;
    width: 100%;
    min-width: 1140px;
    background-repeat: no-repeat;

    /* background-position: center center; */
    background-image: url("../images/lookbook_page/banner1.png");
    /* display: flex; */
    background-size: cover;
    position: relative;
    /* border: 2px solid red; */
    /* opacity: 0.7; */
}    





.banner > .logo{
    /* position: absolute;
    top: 20px;
    left: 20px; */
    /* max-width: 100%; */
    width: 200px;
    padding: 20px;
    position: fixed;    
    top: 20px;
    left: 20px;
    /* margin-top: 0; */
    /* border: 2px solid rgb(117, 241, 60); */
    background-color: rgba(255, 255, 255, 0.5);
    /* border: 2px solid red; */
    border-radius: 20px;
    z-index: 70;
}


.banner > .banner_txt{
    /* border: 2px solid rgb(117, 241, 60); */
    position: absolute;
    transform: translate(-50%, -50%) ;
    top: 50%;
    left: 50%;
    opacity: 0.5;
}







/* --------------------下方導覽列-------------------- */

div.nav_bg{
    /* width: 100%; */
    background-color: #cac7c7;
    border-radius: 0 0 30px 30px;
    width: 100%;
    height: 60px;
    /* margin-bottom: 80px; */
    /* max-width: 1902px; */
    min-width: 1140px;
}


.nav_bg > nav.nav{
    /* border: 2px solid rgb(234, 0, 255); */
    margin: 0 auto 90px;
    text-align: center;
    line-height: 40px;
    width: 1140px;    
    /* border: 1px solid rgb(23, 214, 240); */
}

.nav_bg > nav.nav > ul.nav_link_list{
    list-style: none;
    margin: 0;
    /* padding-left: 150px;
    padding-right: 150px; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* background-color: #ECC7C7;
    border-radius: 0 0 30px 30px; */
    width: 100%;
    height: 60px;
    /* text-align: center;
    line-height:100px; */
    width: 1140px;   
    /* border: 1px solid rgb(0, 255, 34); */
}


.nav_bg > nav.nav > ul.nav_link_list > li{
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* justify-content: center; */
    
}


.nav_bg > nav.nav > ul.nav_link_list > li.lookbook{
    /* border: 1px solid red;  */
    background-color: #b8b3b3;
    
}


.nav_bg > nav.nav > ul.nav_link_list > li.lookbook a{
    color: rgb(240, 239, 239);
}

.nav_bg > nav.nav > ul.nav_link_list > li.lookbook a:hover{
    color: rgb(61, 60, 60);
}


.nav_bg > nav.nav > ul.nav_link_list > li > a{
    font-family: "筑紫A丸ゴシック","GenJyuuGothic-Light","Heiti TC","Microsoft JhengHei","Calibri Light","sans-serif";
    color: rgb(32, 1, 1);
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
    font-weight: 700;
    display: inline-block;
}





.nav_bg > nav.nav > ul.nav_link_list > li > a:hover {
    /* background-color: #eb8686; */
    /* color:#f37c7c; */
    color: rgb(61, 60, 60);
}





/* --------------------lookbook-------------------- */


body{
    background-image: url(../images/lookbook_page/background_line.png);
    background-size: 100%;
    /* background-repeat: no-repeat; */
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}



main{
    width: 1140px;
    margin: 0 auto;
}




/* ============== lookbook_box1 ============== */

.lookbook_box1{
    /* border: 1px solid  red; */
    width: 100%;
    height: 710px;
    position: relative;
    margin: 130px auto;
    /* display: flex; */
    /* justify-content: space-around; */
    /* margin: 0 auto ; */
}


/* .lookbook_box1 > .lookbook_txt{
    border: 1px solid rgb(30, 107, 250);
    display: flex;
    flex-direction: column;
} */



.lookbook_box1 > p.lookbook_txt1{
    /* border: 1px solid rgb(72, 255, 0); */
    font-family: "Arial", "Heiti TC", "sans-serif","Microsoft JhengHei";
    font-size: 71px;
    z-index: 10;
    color:  rgb(255, 255, 255);
    font-weight: 800;
    /* position: absolute; */
    display: inline-block;
    position: absolute;
    top: 222px;
    left: 130px;
}


.lookbook_box1 > p.lookbook_txt2{
    /* border: 1px solid rgb(72, 255, 0); */
    font-family: "Arial", "Heiti TC", "sans-serif","Microsoft JhengHei";
    font-size: 90px;
    z-index: 10;
    color: #E5A8A8;
    font-weight: 800;
    display: inline-block;
    position: absolute;
    top: 280px;
    left: 175px;
}



.lookbook_box1 > p.lookbook_txt3{
    /* border: 1px solid rgb(72, 255, 0); */
    font-family: "Arial", "Heiti TC", "sans-serif","Microsoft JhengHei";
    font-size: 90px;
    z-index: 10;
    color:  rgb(182, 177, 177);
    font-weight: 800;
    display: inline-block;
    position: absolute;
    top: 358px;
    left: 212px;
    position: relative;
    /* color: transparent;
    background-image: url(../images/lookbook_page/lookbookstar.png);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    z-index: 5; */
}



.lookbook_box1 > p.lookbook_txt3::before{
    content: "lookbook";
    font-family: "Arial", "Heiti TC", "sans-serif","Microsoft JhengHei";
    font-size: 90px;
    z-index: 10;
    color: transparent;
    background-image: url(../images/lookbook_page/lookbookstar1.png);
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    left: 0;
}


/* .lookbook_box1 >  p.lookbook_txt3::before{
    content: "lookbook";
    font-family: "Arial", "Heiti TC", "sans-serif","Microsoft JhengHei";
    font-size: 70px;
    z-index: 10;
    color:  rgb(182, 177, 177);
    font-weight: 800;
    position: absolute;
    left: 0;
    
} */



.lookbook_box1 > .img1{
    /* border:  1px solid rgb(30, 250, 177); */
    display: inline-block;
    width: 600px;
    position: absolute;
    right: 0;
}


/* ============== lookbook_box2 ============== */

.lookbook_box2{
    /* border:  1px solid rgb(123, 14, 247); */
    width: 100%;
    height: 900px;
    position: relative;
    /* display: flex;
    justify-content: space-around; */
}




.lookbook_box2 > .img2{
    /* border:  1px solid rgb(247, 14, 91); */
    display: inline-block;
    width: 460px;
    position: absolute;
    left: 0;
}




.lookbook_box2 > .img2::before{
    /* border: 1px solid rgb(8, 194, 250); */
    content: "";
    width: 450px;
    height: 500px;
    z-index: -1;
    background-color: #C4C4C4;
    position: absolute;
    left: 33px;
    bottom: -32px;
}


.lookbook_box2 .img3{
    /* border: 1px solid rgb(7, 230, 44); */
    display: inline-block;
    width: 550px;
    position: absolute;
    right: 45px;
    top: 155px;
}



.lookbook_box2 > .round1{
    /* border: 1px solid rgb(202, 236, 8); */
    width: 830px;
    height: 830px;
    background: #fafafa;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top: -200px;
    z-index: -3;
}



/* ============== lookbook_box3 ============== */


.lookbook_box3{
    /* border:  1px solid rgb(8, 209, 236); */
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    margin-bottom: 100px;
}



.lookbook_box3 > .img4{
    /* border: 1px solid rgb(247, 14, 91); */ */
    display: inline-block;
    width: 100%;
    /* position: absolute;
    left: -160px; */
}





.lookbook_box3 > .round2{
    /* border: 1px solid rgb(202, 236, 8); */ 
    width: 700px;
    height: 700px;
    background: #EFC5C5;
    border-radius: 50%;
    position: absolute;
    right: -260px;
    top: -231px;
    z-index: -5;
}





.lookbook_box3 > .round3{
    /* border: 1px solid rgb(206, 206, 206, 0.3);  */
    width: 850px;
    height: 850px;
    /* background: #EFC5C5; */
    background-image: url(../images/lookbook_page/lookbookstar3.png);
    border-radius: 50%;
    position: absolute;
    left: -292px;
    top: -75px;
    z-index: -5;
}



/* ============== lookbook_box4 ============== */

.lookbook_box4{
    /* border:  1px solid rgb(236, 8, 122); */
    width: 100%;
    height: 1000px;
    position: relative;
    /* display: flex; */
    /* justify-content: column; */
}





.lookbook_box4 h1{
    /* border: 1px solid rgb(161, 94, 117); */
    font-family: "Arial", "Heiti TC", "sans-serif","Microsoft JhengHei";
    font-size: 65px;
    z-index: 10;
    color: rgb(255, 255, 255);
    font-weight: 800;
    position: absolute;
    left: 26%;
    top: 27%;
}





.lookbook_box4 > .img5{
    /* border: 1px solid rgb(247, 14, 91); */
    display: inline-block;
    width: 550px;
    position: absolute;
    right: 85px;
}



.lookbook_box4 > .img5::before{
    /* border: 1px solid rgb(8, 194, 250); */
    content: "";
    width: 450px;
    height: 500px;
    z-index: -1;
    background-color: #C4C4C4;
    position: absolute;
    left: -40px;
    bottom: -32px;
}







.lookbook_box4 > .img6{
    /* border:  1px solid rgb(247, 14, 91); */
    display: inline-block;
    position: absolute;
    bottom: 0;
    /* width: 400px; */
    
}







/* .round4{
    width: 728px;
    height: 660px;
    border: 1px solid rgb(102, 25, 245);
    position: absolute;
    bottom: 0px;
    right: 0px; 
    z-index: 5;
    overflow: hidden;
} */



/* .round4 > .round4_in{
    border: 1px solid rgb(202, 236, 8);
    width: 900px;
    height: 900px;
    background: #fafafa;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
 */





/* .loopMov {
    position: absolute;
    left: 50%;
    top: 0%;
    width: 100%;
    height: 100%;
    margin: auto;
    -o-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
} */







/* --------------------footer 區塊------------------- */

footer{
    width: 1140px;
    margin: 0px auto;
    /* border: 1px solid rgb(10, 230, 76); */
    padding: 50px;
    display: flex;
    justify-content: center; 
    margin-top: 50px;

    position: relative;
}


footer > .contact{
    width: 100%;
    height: 100%;
    margin: 0px auto;
    text-align: center;
    /* border: 1px solid rgb(32, 10, 230); */
    
    /* display: inline-block; */
}

footer > .contact .footer_logo{
    margin: 10px;
    width: 70%;
    /* border: 1px solid rgb(28, 230, 10); */
    opacity: 0.7;
}

footer > .contact .footer_logo:hover{
    opacity: 1;
    transition: all 200ms ease-in-out;
}


footer > .contact a{
    display: inline-block;
    /* border: 1px solid rgb(230, 190, 10); */
    font-size: 0px;
}


footer > .contact h3{
    /* border: 1px solid rgb(10, 142, 230); */
    font-family: "筑紫A丸ゴシック","GenJyuuGothic-Light","Heiti TC","Microsoft JhengHei","Calibri Light","sans-serif";

    font-size: 15px;
    /* display: inline; */
    margin: 10px 0 10px 0;
    color: rgb(97, 96, 96);
}


footer .footer_icon img{
    /* border: 1px solid rgb(230, 10, 113); */
    width: 30px;
    height: 30px;
    margin: 10px 15px 10px 15px;
    display: inline-block;
    opacity: 0.7;
}

footer .footer_icon img:hover{
    opacity: 1;
    transition: all 200ms ease-in-out;
}


