@import "./common/fonts.css";


* {
    box-sizing: border-box;
   /* outline: 1px solid red; */
    /* border: none !important; */
}

img{
    max-width: 100%;
}

html{
    background-color: #EBEBEB;
    /* background-image: url("../images/lookbook_page/background_2round_1.png"); */
    background-image: url("../images/lookbook_page/background_final.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    background-position: center;
    min-width: 320px;
    /* overflow: hidden; */
}


/* --------------------網頁最上方浮動menubar-------------------- */


div.menubar{
    width: 100%;
    /* height: 100vh; */
    /* border: 10px solid orange; */
    background-image: url("../images/header/menubar.png");
    background-position: center;
    background-size: cover;
    z-index: 40;
    position: sticky;
    top: 0;
    height: 99px;
    /* height: 100%; */
    background-repeat: no-repeat;
    /* min-width: 1140px; */
    /* position: relative; */
}

.menubar > .menubar_icon{
    position: absolute;
    top: 30px;
    right: 15px;
    width: 65px;
    display: flex;
    justify-content: space-around;
    /* border: 2px solid blue; */
}


.menubar > .menubar_icon > a{
    width: 28px;
}


.menubar > .menubar_icon > a img{
    /* border: 2px solid rgb(171, 171, 233); */
    width: 100%;
    opacity: 0.5;
    vertical-align: bottom; 
    /* div包圖片下方完全貼齊  */
}


.menubar > .menubar_icon > a img:hover{
    opacity: 1;
    transition: all 200ms ease-in-out;
}

@media screen and (max-width: 991px) and (min-width: 768px){
    .menubar > .menubar_icon{
        top: 22px;
    }      
}


@media screen and (max-width: 767px) and (min-width: 576px){
.menubar > .menubar_icon{
    right: 65px;
    top: 16px;
    }
}


@media screen and (max-width: 575px) and (min-width: 321px){
    .menubar > .menubar_icon{
    right: 65px;
    top: 15px;
    }

    .menubar > .menubar_icon > a {
    width: 26px;
    }
}



@media screen and (max-width: 320px){
    .menubar > .menubar_icon{
        right: 54px;
        top: 9px;
    }

    .menubar > .menubar_icon > a {
        width: 24px;
    }
}



/* --------------------banner / header區塊-------------------- */
*{
    margin:0;
    padding:0;
}

header{
    /* min-width: 1140px; */
    width: 100%;
    margin-top: -20px;
    /* border: 1px solid red; */
    height: calc(100vh - 79px);
    min-height: 300px;
}

   

.banner{
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-image: url("../images/lookbook_page/banner1.png");
    background-size: cover;
    position: relative;
    min-height: 300px;
    height: calc(100% - 60px);
    width: 100%;
    /* background-position: center; */
    /* border: 2px solid red; */
}  



.banner > .logo{
    /* position: absolute;
    top: 20px;
    left: 20px; */
    /* max-width: 100%; */
    max-width: 200px;
    width: 100%;
    padding: 20px;
    position: fixed;    
    top: 20px;
    left: 20px;
    /* margin-top: 0; */
    /* border: 2px solid rgb(117, 241, 60); */
    background-color: rgba(255, 255, 255, 0.5);
    /* border: 2px solid red; */
    border-radius: 20px;
    z-index: 70;
}


.banner > .banner_txt{
    /* border: 2px solid rgb(117, 241, 60); */
    position: absolute;
    transform: translate(-50%, -50%) ;
    top: 50%;
    left: 50%;
    opacity: 0.5;
}



img.logo{
    /* border: 2px solid rgb(117, 241, 60); */
    opacity: 0.6;
}

img.logo:hover{
    opacity: 1;
    transition: all 200ms ease-in-out;
}







/* --------------------下方導覽列-------------------- */

div.nav_bg{
    width: 100%;
    background-color: #cac7c7;
    border-radius: 0 0 30px 30px;
    height: 60px;
    /* margin-bottom: 80px; */
}


.nav_bg > nav.navbox{
    /* border: 2px solid rgb(234, 0, 255); */
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    max-width: 1140px;  */
    /* border: 1px solid rgb(23, 214, 240); */
}

.nav_bg > nav.navbox > ul.nav_link_list{
    list-style: none;
    margin: 0;
    /* padding-left: 150px;
    padding-right: 150px; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* background-color: #ECC7C7;
    border-radius: 0 0 30px 30px; */
    width: 100%;
    height: 60px;
    /* text-align: center;
    line-height:100px; */
    /* width: 1140px;    */
    /* border: 1px solid rgb(0, 255, 34); */
}
  


.nav_bg > nav.navbox > ul.nav_link_list > li{
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* justify-content: center; */
    /* display: inline-block; */
}


.nav_bg > nav.navbox > ul.nav_link_list > li.lookbook{
    /* border: 1px solid red;  */
    background-color: #b8b3b3;
    
}


.nav_bg > nav.navbox > ul.nav_link_list > li.lookbook a{
    color: rgb(240, 239, 239);
}

.nav_bg > nav.navbox > ul.nav_link_list > li.lookbook a:hover{
    color: rgb(95, 93, 93);
}


.nav_bg > nav.navbox > ul.nav_link_list > li > a{
    font-family: "筑紫A丸ゴシック","GenJyuuGothic-Light","Heiti TC","Microsoft JhengHei","Calibri Light","sans-serif";
    color: rgb(32, 1, 1);
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
    font-weight: 700;
    display: inline-block;
    white-space: nowrap;
}


.nav_bg > nav.navbox > ul.nav_link_list > li > a:hover {
    /* background-color: #eb8686; */
    /* color:#f37c7c; */
    color: rgb(124, 122, 122);
}


/* --------------------header RWD-------------------- */

@media screen and (max-width: 991px) and (min-width: 768px){
    div.menubar{
        height: 79px;
    }

    header{
        height: calc(100vh - 59px);
        /* menubar 99px - margin-top 20px */
    }

    .banner{
        height: calc(100% - 50px);
    }


    div.nav_bg{
        height: 50px;
        border-radius: 0 0 30px 30px;
    }

    .nav_bg > nav.navbox > ul.nav_link_list > li{
        height: 51px;
    }


    .nav_bg > nav.navbox > ul.nav_link_list > li > a{
        font-size: 20px;
        padding: 3px;
        /* border: 2px solid rgb(127, 127, 216); */
    }



    .banner > .logo{
        width: 180px;
        padding: 18px;
    }

    .banner > .banner_txt{
        /* width: 70%;   */
    }

}



@media screen and (max-width: 767px) and (min-width: 576px){
    div.menubar{
        height: 69px;
        background-image: url("../images/header/menubar_notxt.png");
    }

    header{
        height: calc(100vh - 49px);
    }

    .banner{
    /* height: 500px; */
        height: 100vh;
        height: calc(100% - 30px);
    }

    .nav_bg > nav.navbox > ul.nav_link_list > li{
        display: none;
    }


    div.nav_bg{
        height: 30px;
        border-radius: 0 0;
    }


    .banner > .logo{
        width: 150px;
        padding: 9px 12px 9px 12px;
    }

    .banner > .banner_txt{
        width: 65%;  
    }


}


@media screen and (max-width: 575px) and (min-width: 321px){
    div.menubar{
        height: 69px;
        background-image: url("../images/header/menubar_notxt.png");
    }

    header{
        height: calc(100vh - 49px);
    }

    .banner{
    /* height: 500px; */
    /* height: 100vh; */
        height: calc(100% - 30px);
    }
    

    .nav_bg > nav.navbox > ul.nav_link_list > li{
        display: none;
    }

    div.nav_bg{
        height: 30px;
        border-radius: 0 0;
    }


    .banner > .logo{
        width: 100px;
        padding: 5px 9px 5px 9px;
        border-radius: 10px;
        border-radius: 15px;
        top: 12px;
        left: 12px;
    }


    .banner > .banner_txt{
        width: 80%;  
    }


}



@media screen and (max-width: 320px){
    div.menubar{
        height: 49px;
        background-image: url("../images/header/menubar_notxt.png");
    }

    header{
        height: calc(100vh - 29px);
          /* menubar 99px - margin-top 20px */
    }

    .banner{
    /* height: 500px; */
    height: 100vh;
    height: calc(100% - 20px);
    }

    .nav_bg > nav.navbox > ul.nav_link_list > li{
        display: none;
    }

    div.nav_bg{
        height: 20px;
        border-radius: 0 0;
        /* border: 2px solid blue; */
    }


    .banner > .logo{
        width: 80px;
        padding: 5px 9px 5px 9px;
        border-radius: 10px;
        top: 10px;
        left: 10px
    }

    .banner > .banner_txt{
        min-width: 85%;
    }

}



/* -----------------back to top---------------- */

.back_to_top {
    background-color: #ecc7c7;
    /* border: 1px solid white; */
    border-radius: 50%;
    width: 45px;
    height: 45px;
    bottom: 20px;
    color: #fff8f8;
    font-size: 34px;
    font-weight: 700;
    display: none;
    padding: 9px 14px;
    position: fixed;
    right: 30px;
    text-decoration: none;
    z-index: 999;
    box-shadow: 2px 2px 5px rgba(20%,20%,40%,0.5);
}

.back_to_top:hover{
    background-color: #eca2a2;
}


/* --------------------RWD hamburger 漢堡區塊-------------------- */


#navbar-icon, .nav-main.close, .nav-links{
    display: none;
}

@media screen and (max-width: 767px){

#navbar-icon {
    /* border: solid 1px rgb(255, 0, 200); */
    display: block;
}



.navbar-open-icon {
    display: block;
    height: 45px;
    width: 45px;
    position: absolute;
    top: 6px;
    right: 17px;
    cursor: pointer;
    /* border: solid 1px rgb(153, 9, 153); */
}

.line {
    position: absolute;
    left: 10px;
    height: 3.5px;
    width: 33px;
    border-radius: 3px;
    background: rgb(178 176 177);
    /* border: solid 1px rgb(214, 152, 18); */
}

.navbar-open-icon:hover .line {
    background: #ECC7C7;
}

.top {
    top: 10px;
}

.middle {
    top: 22px;
}

.bottom {
    top: 34px;
}

.nav-main {
    position: fixed;
    background: #ece4e7;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    max-height: 480px;
    min-height: 300px;
    opacity: 1;
    z-index: 999;
    transition: all 0.4s ease;
    border: 2px solid rgba(169, 165, 165, 0.23);
    /* border: solid 3px rgb(253, 0, 0); */
}



.close {
    opacity: 0;
    z-index: -10;
    position: absolute;
    /* border: solid 1px rgb(0, 0, 0); */
    /* transform: translateX(100%); */
}

.nodisplay {
    display: block;
    /* border: solid 1px rgb(145, 6, 6); */
}

.nav {
    /* margin-top: 20px; */
    /* border: solid 1px rgb(251, 255, 10); */
    /* overflow-y: hidden; */
    /* min-height: 430px; */
}

.nav-close-icon {
    position: absolute;
    right: 8px;
    top: 11px;
    cursor: pointer;
    width: 45px;
    height: 45px;
    /* border: solid 1px rgb(10, 47, 255); */
    /* 叉叉按鈕位置 */
}



.nav-close-icon:hover .icon-line {
    background: #ffffff;
    /* border: solid 1px rgb(233, 7, 195); */
}

.icon-line {
    position: absolute;
    top: 1em;
    width: 40px;
    height: 4px;
    border-radius: 5px;
    background: #261f1f;
    transform: rotate(45deg);
    /* border: solid 1px rgb(12, 247, 255); */
}

.transform {
    transform: rotate(-45deg);
}

.nav-links {
    height: calc(100vh - 20px);
    max-height: 480px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-between;
    /* overflow-y: scroll; */
    /* border: solid 1px rgb(0, 0, 0); */
    /* margin-bottom: 15px;
    margin-top: 20px; */
    padding: 40px;
    z-index: 999;
    /* transform: translateX(80%); */
    max-height: 480px;
    min-height: 300px;
}

.nav-title span {
    /* font-family: "Karma", serif; */
    font-family: "筑紫A丸ゴシック","GenJyuuGothic-Light","Heiti TC","Microsoft JhengHei","Calibri Light","sans-serif";
    font-size: 15px;
    padding-bottom: 4px;
    border-bottom: 3px solid #ffffff;
    color: #948d8d;
    min-height: 80px;
    font-size: 20px;
}


.nav-links a {
    /* font-family: "Karma", serif; */
    font-family: "筑紫A丸ゴシック","GenJyuuGothic-Light","Heiti TC","Microsoft JhengHei","Calibri Light","sans-serif";
    font-size: 28px;
    letter-spacing: -1px;
    font-weight: 300;
    text-decoration: none;
    color:#5e5959;
    padding: 0.3em 0;
    display: block;
}

#thispage{
    /* border: solid 1px rgb(0, 0, 0); */
    padding-bottom: 2px;
    color: #c58686;
    border-bottom: 5px solid #ffffff;
}

.nav-links a:hover{
    color:#b1adad;
    transition: all 200ms ease-in-out;
}


/*navlink hover effect*/
.slide-out {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.slide-out::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 0%;
    border-bottom: 5px solid #ffffff;
    transition: 0.4s;
}
.slide-out::after:hover {
    width: 100%;
}

.slide-out:hover:after {
    width: 100%;
}

.nav-title {
    /* border: solid 1px rgb(105, 105, 105); */
}

    /* .nav-social {
    height: 100px;
    padding-top: 25px;
    margin-bottom: 70px;
    color: #ffffff;
    }
    .nav-social i {
    padding: 30px;
    color: #ffffff;
    transition: all 0.4s ease;
    font-size: 18px;
    }
    .nav-social i:hover {
    color: #ffffff;
    transition: all 0.4s ease;
    transform: scale(1.3);
    } */

}




@media screen and (max-width: 767px) and (min-width: 576px){

    .nav-main {
        width: 50%;
        right: 0;
        /* min-height: 100vh; */
    }

}
    
    
    
@media screen and (max-width: 575px) and (min-width: 321px){
    .navbar-open-icon{
    top: 4px;
    }
}

    
    
@media screen and (max-width: 320px){
    .navbar-open-icon{
        top: -1px;
        right: 10px;
    }

    .nav-close-icon{
        right: -1px;
        top: 9px;
    }

    .icon-line{
        right: 4px;
        top: 10px;
    }

    .line{
        width: 30px;
    }

    .middle{
        top: 20px;
    }

    .bottom {
        top: 30px;
    }

}




/* --------------------lookbook-------------------- */


body{
    background-image: url(../images/lookbook_page/background_line.png);
    background-size: 100%;
    /* background-repeat: no-repeat; */
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}



main{
    /* width: 1140px; */
    /* margin: 0 auto; */
    width: 100%;
    overflow: hidden;
}




/* ============== lookbook_box1 ============== */

.lookbook_box1{
    /* border: 1px solid  red; */
    width: 100%;
    /* height: 100%; */
    height: 710px;
    position: relative;
    margin: 130px auto;
    /* display: flex; */
    /* justify-content: space-around; */
    /* margin: 0 auto ; */
}


/* .lookbook_box1 > .lookbook_txt{
    border: 1px solid rgb(30, 107, 250);
    display: flex;
    flex-direction: column;
} */



.lookbook_box1 > p.lookbook_txt1{
    /* border: 1px solid rgb(72, 255, 0); */
    font-family: "Arial", "Heiti TC", "sans-serif","Microsoft JhengHei";
    font-size: 71px;
    z-index: 10;
    color:  rgb(255, 255, 255);
    font-weight: 800;
    /* position: absolute; */
    display: inline-block;
    position: absolute;
    top: 222px;
    /* left: 130px; */
    left: 10%;
}


.lookbook_box1 > p.lookbook_txt2{
    /* border: 1px solid rgb(72, 255, 0); */
    font-family: "Arial", "Heiti TC", "sans-serif","Microsoft JhengHei";
    font-size: 90px;
    z-index: 10;
    color: #E5A8A8;
    font-weight: 800;
    display: inline-block;
    position: absolute;
    top: 280px;
    /* left: 175px; */
    left: 14%;
}



.lookbook_box1 > p.lookbook_txt3{
    /* border: 1px solid rgb(72, 255, 0); */
    font-family: "Arial", "Heiti TC", "sans-serif","Microsoft JhengHei";
    font-size: 90px;
    z-index: 10;
    color:  rgb(182, 177, 177);
    font-weight: 800;
    display: inline-block;
    position: absolute;
    top: 358px;
    left: 18%;
    /* left: 212px; */
    position: relative;
    /* color: transparent;
    background-image: url(../images/lookbook_page/lookbookstar.png);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    z-index: 5; */
}



.lookbook_box1 > p.lookbook_txt3::before{
    content: "lookbook";
    font-family: "Arial", "Heiti TC", "sans-serif","Microsoft JhengHei";
    font-size: 90px;
    z-index: 10;
    color: transparent;
    background-image: url(../images/lookbook_page/lookbookstar1.png);
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    left: 0;
}




@media screen and (max-width: 991px) and (min-width: 768px){
  
    
}


@media screen and (max-width: 767px) and (min-width: 576px){
   .lookbook_box1{
        height: 580px;
        margin: 50px auto 50px;
    }


}


@media screen and (max-width: 600px) and (min-width: 400px){
    
    .lookbook_box1{
        height: 580px;
        margin: 50px auto 50px;
    }

    .lookbook_box1 > p.lookbook_txt1{
        font-size: 50px;
        left: 3%;
    }

    .lookbook_box1 > p.lookbook_txt2{
        font-size: 64px;
        top: 259px;
        left: 8%;
    }

    .lookbook_box1 > p.lookbook_txt3{
        font-size: 64px;
        top: 315px;
        left: 13%;
    }

    .lookbook_box1 > p.lookbook_txt3::before{
        font-size: 64px;
    }
}



@media screen and (max-width: 400px){
    .lookbook_box1{
        height: 390px;
        margin: 50px auto 50px;
    }

    .lookbook_box1 > p.lookbook_txt1{
        font-size: 40px;
        left: 3%;
        top: 180px;
    }

    .lookbook_box1 > p.lookbook_txt2{
        font-size: 47px;
        top: 214px;
        left: 8%;
    }

    .lookbook_box1 > p.lookbook_txt3{
        font-size: 47px;
        top: 255px;
        left: 13%;
    }

    .lookbook_box1 > p.lookbook_txt3::before{
        font-size: 47px;
    }
}

.lookbook_box1 > .img1{
    /* border:  1px solid rgb(30, 250, 177); */
    display: inline-block;
    max-width: 600px;
    min-width: 300px;
    position: absolute;
    right: 7%;
}

.lookbook_box1 > .img1 img{
    /* border:  1px solid rgb(30, 250, 177); */
    width: 100%;
}

@media screen and (max-width: 767px){
    .lookbook_box1 > .img1{
        right: 0%;
        max-width: 500px;
    }
}




/* ============== lookbook_box2 ============== */

.lookbook_box2{
    /* border:  1px solid rgb(123, 14, 247); */
    width: 100%;
    height: 900px;
    /* position: relative; */
    display: flex;
    justify-content: space-around;
    align-self: flex-start;
    padding-bottom: 50px;
    /* flex-direction: row; */
    /* align-items: flex-start */
}




.lookbook_box2 > .img2{
    /* border:  1px solid rgb(247, 14, 91); */
    display: block;
    max-width: 460px;
    margin-bottom: 10%;
    /* position: absolute;
    left: 0; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.lookbook_box2 > .img2 img{
    width: 100%;
    box-shadow: 25px 25px #C4C4C4;
}




/* .lookbook_box2 > .lookbook2_img >.img2::before{
    content: "";
    max-width: 450px;
    max-height: 500px;
    z-index: -1;
    background-color: #C4C4C4;
    position: absolute;
    left: 33px;
    bottom: -32px;
} */


.lookbook_box2 > .img3{
    /* border: 1px solid rgb(7, 230, 44); */
    /* display: inline-block; */
    max-width: 550px;
    /* align-items: flex-end; */
    align-self: flex-end;
    /* position: absolute;
    right: 45px;
    top: 155px; */
}

.lookbook_box2 > .img3 img{
    width: 100%;
}


@media screen and (max-width: 1100px) and (min-width: 768px){
    
    .lookbook_box2 > .img2{
        max-width: 336px;
    }

    .lookbook_box2 > .img3{
        max-width: 400px;
    }
    
}


@media screen and (max-width: 767px) and (min-width: 600px){
    .lookbook_box2{
        flex-direction: column
        height: 1026px;
    }

    .lookbook_box2 > .img2{
        max-width: 336px;
    }

    .lookbook_box2 > .img3{
        max-width: 410px;
    }
}

@media screen and (max-width: 600px) and (min-width: 450px){
    .lookbook_box2{
        flex-direction: column;
        height: 783px;
    }

    .lookbook_box2 > .img2{
        max-width: 298px;
        margin-bottom: 12%;
    }

    .lookbook_box2 > .img2 img{
        box-shadow: 18px 18px #C4C4C4;
    }

    .lookbook_box2 > .img3{
        max-width: 283px; 
    }
}

@media screen and (max-width: 450px) and (min-width: 321px){
    .lookbook_box2{
        flex-direction: column;
        height: 712px;
    }

    .lookbook_box2 > .img2{
        max-width: 260px;
        margin-bottom: 0%;
    }

    .lookbook_box2 > .img2 img{
        box-shadow: 18px 18px #C4C4C4;
    }

    .lookbook_box2 > .img3{
        max-width: 230px;
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 320px){
    
    .lookbook_box2{
        flex-direction: column;
        height: 712px;
    }

    .lookbook_box2 > .img2{
        max-width: 220px;
        margin-bottom: 0%;
    }

    .lookbook_box2 > .img2 img{
        box-shadow: 18px 18px #C4C4C4;
    }

    .lookbook_box2 > .img3{
        max-width: 230px;
        padding-bottom: 0px;
    }
}


/* .lookbook_box2 > .round1{
    max-width: 830px;
    max-height: 830px;
    background: #fafafa;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top: -200px;
    z-index: -3;
} */



/* ============== lookbook_box3 ============== */


.lookbook_box3{
    /* border:  1px solid rgb(8, 209, 236); */
    width: 100%;
    margin-bottom: 50px;
    /* position: relative; */
    margin-bottom: 80px;
}



.lookbook_box3 > .img4{
    /* border: 1px solid rgb(247, 14, 91); */ */
    display: inline-block;
    /* width: 100%; */
    /* position: absolute;
    left: -160px; */
}





/* .lookbook_box3 > .round2{
    width: 700px;
    height: 700px;
    background: #EFC5C5;
    border-radius: 50%;
    position: absolute;
    right: -260px;
    top: -231px;
    z-index: -5;
} */






/* ============== lookbook_box4 ============== */

.lookbook_box4{
    /* border:  1px solid rgb(236, 8, 122); */
    width: 100%;
    height: 670px;
    position: relative;
    /* display: flex; */
    /* justify-content: column; */
}





.lookbook_box4 h1{
    /* border: 1px solid rgb(161, 94, 117); */
    font-family: "Arial", "Heiti TC", "sans-serif","Microsoft JhengHei";
    font-size: 65px;
    z-index: 10;
    color: rgb(255, 255, 255);
    font-weight: 800;
    position: absolute;
    left: 26%;
    top: 39%;
}


.lookbook_box4 > .img5{
    /* border: 1px solid rgb(247, 14, 91); */
    display: inline-block;
    max-width: 550px;
    position: absolute;
    right: 0%;
    padding: 20px;
    border: 4px solid rgb(197, 191, 186);
    margin-right: 5%;
}

.lookbook_box4 > .img5 img{
    /* box-shadow: -45px 40px 0 0px #C4C4C4; */
    width: 100%;
}



@media screen and (max-width: 991px) and (min-width: 768px){
    
    .lookbook_box4{
        height: 560px;
    }
    
    .lookbook_box4 h1 {
        /* border: 1px solid rgb(161, 94, 117); */
        font-family: "Arial", "Heiti TC", "sans-serif","Microsoft JhengHei";
        font-size: 60px;
        z-index: 10;
        color: rgb(255, 255, 255);
        font-weight: 800;
        position: absolute;
        left: 3%;
        top: 39%;
        line-height: 50px;
    }
    
}


@media screen and (max-width: 767px) and (min-width: 576px){
    
    .lookbook_box4{
        height: 560px;
    }
    
    .lookbook_box4 > .img5{
        border: 4px solid rgb(197, 191, 186);
        max-width: 450px;
        margin-right: 0%;
    }


    .lookbook_box4 h1 {
        /* border: 1px solid rgb(161, 94, 117); */
        font-family: "Arial", "Heiti TC", "sans-serif","Microsoft JhengHei";
        font-size: 60px;
        z-index: 10;
        color: rgb(255, 255, 255);
        font-weight: 800;
        position: absolute;
        left: 3%;
        top: 53%;
        line-height: 50px;
    }
}


@media screen and (max-width: 575px) and (min-width: 321px){
    .lookbook_box4{
        height: 475px;
    }
    
    .lookbook_box4 > .img5{
        border: 4px solid rgb(197, 191, 186);
        max-width: 400px;
        margin-right: 0%;
    }


    .lookbook_box4 h1 {
    /* border: 1px solid rgb(161, 94, 117); */
    font-family: "Arial", "Heiti TC", "sans-serif","Microsoft JhengHei";
    font-size: 50px;
    z-index: 10;
    color: rgb(255, 255, 255);
    font-weight: 800;
    position: absolute;
    left: 10%;
    top: 45%;
    line-height: 50px;
    }
    
}



@media screen and (max-width: 320px){
    .lookbook_box4 {
        height: 390px;
    }

    .lookbook_box4 > .img5{
        border: 4px solid rgb(197, 191, 186);
        margin-right: 0%;

    }
    

    .lookbook_box4 h1 {
        /* border: 1px solid rgb(161, 94, 117); */
        font-family: "Arial", "Heiti TC", "sans-serif","Microsoft JhengHei";
        font-size: 50px;
        z-index: 10;
        color: rgb(255, 255, 255);
        font-weight: 800;
        position: absolute;
        left: 48%;
        top: 37.5%%;
        line-height: 50px;
    }
}


/* .lookbook_box4 > .img5::before{
    content: "";
    width: 450px;
    height: 500px;
    z-index: -1;
    background-color: #C4C4C4;
    position: absolute;
    left: -40px;
    bottom: -32px;
} */


.img6{
    /* border:  1px solid rgb(247, 14, 91); */
    display: block;
    padding: 15px;
    /* width: 400px; */
    
}



/* .round4{
    width: 728px;
    height: 660px;
    border: 1px solid rgb(102, 25, 245);
    position: absolute;
    bottom: 0px;
    right: 0px; 
    z-index: 5;
    overflow: hidden;
} */



/* .round4 > .round4_in{
    border: 1px solid rgb(202, 236, 8);
    width: 900px;
    height: 900px;
    background: #fafafa;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
 */





/* .loopMov {
    position: absolute;
    left: 50%;
    top: 0%;
    width: 100%;
    height: 100%;
    margin: auto;
    -o-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
} */








/* --------------------footer 區塊------------------- */

footer{
    /* width: 1140px; */
    width: 100%;
    margin: 0px auto;
    /* border: 1px solid rgb(10, 230, 76); */
    padding: 50px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  
  footer > .contact{
    width: 100%;
    /* height: 100%; */
    margin: 0px auto;
    text-align: center;
    /* border: 1px solid rgb(32, 10, 230); */
  
    /* display: inline-block; */
  }
  
  footer > .contact .footer_logo{
    margin: 10px;
    width: 70%;
    /* border: 1px solid rgb(28, 230, 10); */
    opacity: 0.7;
  }
  
  footer > .contact .footer_logo:hover{
    opacity: 1;
    transition: all 200ms ease-in-out;
  }
  
  
  footer > .contact a{
    display: inline-block;
    /* border: 1px solid rgb(230, 190, 10); */
    font-size: 0px;
  }
  
  
  footer > .contact h3{
    /* border: 1px solid rgb(10, 142, 230); */
    font-family: "筑紫A丸ゴシック","GenJyuuGothic-Light","Heiti TC","Microsoft JhengHei","Calibri Light","sans-serif";
    font-size: 15px;
    /* display: inline; */
    margin: 10px 0 10px 0;
    color: rgb(97, 96, 96);
  }
  
  
  footer .footer_icon img{
    /* border: 1px solid rgb(230, 10, 113); */
    width: 40%;
    /* width: 30px; */
    /* height: 30px; */
    margin: 10px 15px 10px 15px;
    display: inline-block;
    opacity: 0.7;
  }
  
  footer .footer_icon img:hover{
    opacity: 1;
    transition: all 200ms ease-in-out;
  }
  
  
  
  
  
  @media screen and (max-width: 767px) and (min-width: 576px){
    footer > .contact .footer_logo{
      width: 60%;
    }
  
    footer > .contact h3 {
      font-size: 12px;
      margin: 5px 0;
    }
  
  footer .footer_icon img {
    width: 45%;
    margin: 10px 5px;
    }
  
  }
  
  
  @media screen and (max-width: 575px) and (min-width: 321px){
    footer > .contact .footer_logo{
      width: 55%;
    }
  
    footer > .contact h3 {
      font-size: 12px;
      margin: 5px 0;
    }
  
    footer .footer_icon{
      /* border: 1px solid rgb(25, 10, 230); */
    }
  
    footer .footer_icon img {
    width: 45%;
    margin: 10px 5px;
    /* border: 1px solid rgb(190, 230, 10); */
    }
  
    .footer_icon a{
      /* border: 1px solid rgb(230, 10, 113); */
    }
  
  
  }
  
  
  
  @media screen and (max-width: 320px){

    footer{
        margin: 0;
    }

    footer > .contact .footer_logo{
      width: 55%;
    }
  
    footer > .contact h3 {
      font-size: 12px;
      margin: 5px 0;
    }
  
  footer .footer_icon img {
    width: 45%;
    margin: 10px 5px;
    }
  
  }
  

