@font-face {
    font-family: "筑紫A丸ゴシック"; /*名稱自訂*/
    src: url("../../fonts/筑紫A丸ゴシック.woff");
    /* src: url("../../fonts/筑紫A丸ゴシック.ttf"); 以下兩種用了會失效 */
    /* src: url("../../fonts/筑紫A丸ゴシック.eot"); */
    font-display: fallback; /*swap | fallback */
}


@font-face {
    font-family: "GenJyuuGothic-Light"; /*名稱自訂*/
    src: url("../../fonts/GenJyuuGothic-Light.woff");
    /* src: url("../../fonts/GenJyuuGothic-Light.ttf"); */
    /* src: url("../../fonts/GenJyuuGothic-Light.eot"); */
    font-display: fallback; /*swap | fallback */
}

@font-face {
    font-family: "Arial"; /*名稱自訂*/
    src: url("../../fonts/Arial-Black-2.ttf");
    /* src: url("../../fonts/GenJyuuGothic-Light.ttf"); */
    /* src: url("../../fonts/GenJyuuGothic-Light.eot"); */
    font-display: fallback; /*swap | fallback */
}