* {
    box-sizing: border-box;
   /* outline: 1px solid red; */
    /* border: none !important; */
}

img{
max-width: 100%;
}

html{
    background-color: rgb(245, 245, 245);
    background-image: url("../images/header/bg_img/bg7.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
    
    box-sizing: border-box;
}


/* --------------------網頁最上方浮動menubar-------------------- */


div.menubar{
    width: 100%;
    /* height: 100vh; */
    /* border: 10px solid orange; */
    background-image: url("../images/header/menubar.png");
    background-position: center;
    background-size: cover;
    z-index: 40;
    position: sticky;    
    top: 0;
    height: 103px;
    background-repeat: no-repeat;
    min-width: 1200px;
}

.menubar > .menubar_icon{
    position: absolute;
    top: 20px;
    right: 10px;
    display: flex;
    /* border: 2px solid blue; */
}

.menubar > .menubar_icon > a img{
    /* border: 2px solid rgb(171, 171, 233); */
    /* margin-right: 15px; */
    width: 60%;
    margin: 0 15px 0 15px;
    /* height: 40px; */
    opacity: 0.5;
}

.menubar > .menubar_icon > a img:hover{
    opacity: 1;
    transition: all 200ms ease-in-out;
}




/* div.menubar > img .menubar_img{
    min-width: 1200px;
} */



/* --------------------header區塊-------------------- */
*{
    margin:0;
    padding:0;
}

header{
    min-width: 1200px;
    width: 100%;
}

.banner{
    height: 100vh;
    background-repeat: no-repeat;

    /* background-position: center center; */
    background-image: url("../images/header/banner.jpg");
    /* display: flex; */
    background-size: cover;
    position: relative;
    /* border: 2px solid red; */
}    


.banner > .logo{
    /* position: absolute;
    top: 20px;
    left: 20px; */
    /* max-width: 100%; */
    width: 200px;
    padding: 20px;
    position: fixed;    
    top: 20px;
    left: 20px;
    /* margin-top: 0; */
    /* border: 2px solid rgb(117, 241, 60); */
    background-color: rgba(255, 255, 255, 0.5);
    /* border: 2px solid red; */
    border-radius: 20px;
    z-index: 50;
}


.banner > .banner_txt{
    /* border: 2px solid rgb(117, 241, 60); */
    position: absolute;
    transform: translate(-50%, -50%) ;
    top: 50%;
    left: 50%;
    
}







/* --------------------下方導覽列-------------------- */

div.nav_bg{
    width: 100%;
    background-color: #ECC7C7;
    border-radius: 0 0 30px 30px;
    /* width: 100%; */
    height: 60px;
    margin-bottom: 80px;
}


.nav_bg > nav.nav{
    /* border: 2px solid rgb(234, 0, 255); */
    margin: 0 auto 90px;
    text-align: center;
    line-height: 40px;
    width: 1200px;    
    /* border: 1px solid rgb(23, 214, 240); */
}

.nav_bg > nav.nav > ul.nav_link_list{
    list-style: none;
    margin: 0;
    /* padding-left: 150px;
    padding-right: 150px; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* background-color: #ECC7C7;
    border-radius: 0 0 30px 30px; */
    width: 100%;
    height: 60px;
    /* text-align: center;
    line-height:100px; */
    width: 1200px;   
    /* border: 1px solid rgb(0, 255, 34); */
}


.nav_bg > nav.nav > ul.nav_link_list > li{
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* justify-content: center; */
    
}


.nav_bg > nav.nav > ul.nav_link_list > li > a{
    /* border: 1px solid red; */
    /* display: inline-block; */
    /* display: flex; */
    /* justify-content: space-evenly; */
    font-family: "Heiti TC", "sans-serif";
    color: rgb(32, 1, 1);
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
    font-weight: 700;
    display: inline-block;
    /* text-align: center; */
    /* min-width: 100px; */
    /* text-align: center; */
    /* display: block;  */
}


.nav_bg > nav.nav > ul.nav_link_list > li > a:hover {
    /* background-color: #eb8686; */
    color:hsl(0, 83%, 72%);
}





/* --------------------style區塊-------------------- */

main{
    width: 1200px;
    margin-left: auto ;
    margin-right: auto ;
    /* border: 1px solid rgb(11, 47, 250); */
}



.style > .all_box{
    
    position: relative;
    /* left: 23%; */
    /* justify-content: center; */
    /* margin: 0px auto; */
    /* display: flex;
    flex-direction: column; */
    /* border: 10px solid rgb(136, 17, 247); */
    /* display: inline-block; */
    font-size: 0;
}

.style > .all_box > .round_txt{
    position: relative;
    left: 15%;
    display: inline-block;
    width: 22%;
    /* border: 1px solid rgb(11, 47, 250); */
    vertical-align: top;
    /* background-image: url("../images/style/round.png"); */
}




.style > .all_box > .round_txt > .style_txt1{
    font-family: "Heiti TC", "sans-serif";
    display: inline-block;
}

     
.style > .all_box > .round_txt > .style_txt1 > h2{

    /* border: 1px solid red; */
    /* font-family: "Heiti TC", "sans-serif"; */
    position: absolute;
    top: 110px;
    left: 4px;
    transform: skewX(-12deg);
    font-size: 45px;
}


.style > .all_box > .round_txt > .style_txt1 > p{

    /* border: 1px solid rgb(255, 0, 0); */
    position: absolute;
    top: 187px;
    left: 14px;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    /* font-family: "Heiti TC", "sans-serif"; */
}



.style > .all_box > .round_txt > a{
    
    
    /* left: 0px; */
    /* display: flex; */
    /* z-index: 1; */
    width: 24%;
    /* border: 1px solid rgb(136, 17, 247); */
    display: inline-block;
    position: absolute;
    left: 67px;
    top: 280px;
    border-radius: 30px;
}


.style > .all_box > .round_txt > a:hover {
    /* background-color: #eb8686; */
    background-color: hsl(0, 83%, 72%);
    /* opacity: 0.5; */
}


.style > .all_box > .round_txt > img{
    /* border: 1px solid rgb(136, 17, 247); */
    position: absolute;
    left: 0%;
}


/* 
.style > .all_box > .style_box{
    display: inline-block;
    width: 70%;
    vertical-align: top;
    border: 1px solid rgb(255, 0, 0);
} */


.style > .all_box > .style_box1{
    position: relative;
    left: 6%;
     /* z-index: 2; */
    /* border: 1px solid black; */
    display: inline-block;
    width: 26%;
    /* position: absolute; */
    /* left: 295px; */
    /* position: relative; */
    
} 

.style > .all_box > .style_box1 .people1{
    position: absolute;
    left: 0;
}


.style > .all_box > .style_box2{
    position: relative;
    left: -4%;
    /* z-index: 3; */
    /* border: 1px solid rgb(255, 42, 42); */
    display: inline-block;
    width: 26%;
    /* position: absolute; */
    /* left: 610px; */
    /* position: relative; */
 
}


.style > .all_box > .style_box2 .people2{
    position: absolute;
    left: 0;
}



.style > .all_box > .style_box3{
    position: relative;
    left: -14%;
    /* z-index: 4; */
    /* border:1px solid rgb(154, 248, 46); */
    display: inline-block;
    width: 26%;
    /* position: absolute; */
    /* left: 925px; */
    /* position: relative; */
}


.style > .all_box > .style_box3 .people3{
    position: absolute;
    left: 0;
}





.style > .style_txt2{
    font-family: "Heiti TC", "sans-serif";
    /* border: 10px solid rgb(255, 5, 109); */
    /* position: relative; */
    /* display: inline-flex; */
    margin-bottom: 70px;
    
}

.style > .style_txt2 > h2{
    /* font-style: oblique; */
    top: 200px;
    left: 45px;
    transform: skewX(-12deg);
    font-size: 32px;
    padding-left: 10%;
    margin: 3%;
}

.style > .style_txt2 .p{
    font-size: 25px;
    line-height: 35px;
    /* border: 1px solid rgb(255, 5, 109); */
    display: flex;
    
}
.style_txt2_p{
    text-align: right;
    /* border: 1px solid rgb(255, 5, 109); */
    font-size: 20px;
    line-height: 35px;
    display: block;
}


.p1{
    /* padding-right: 50%; */
    transform: translateX(-5%);
}

.p2{
    /* padding-left: 55%; */
    transform: translateX(-8%);
}


.p3{
    /* padding-left: 55%; */
    transform: translateX(-11%);
}





/* --------------------shoplist 區塊------------------- */

.shoplist{
    width: 100%;
    /* height: 100vh; */
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-image: url("../images/shoplist/shoplist_star.png");
    background-size: cover;
    position: relative;
    /* border: 10px solid rgb(7, 2, 53); */
    margin-bottom: 100px;
    /* margin: 0px auto; */
    /* height: 1000px; */
    /* display: flex; */
    /* flex-direction: column; */
}




.shoplist h2{
    /* border: 1px solid red; */
    font-family: "Heiti TC", "sans-serif";
    /* position: absolute; */
    /* top: 200px;
    left: 45px; */
    transform: skewX(-12deg);
    font-size: 50px;
    padding-left: -150px;
    padding-top: 80px;
    /* font-weight: bold; */
    /* display: inline-block; */
    margin: 40px 0 80px 0;
    width: 1200px;
    margin-left: auto ;
    margin-right: auto ;  
}



.shoplist > .shop_box{
    width: 1200px;
    margin-left: auto ;
    margin-right: auto ;  
    display: flex;
    /* vertical-align: top; */
    /* border: 1px solid red; */
    margin-bottom: 40px;
}

.shoplist > .shop_box > a{
    display: inline-block;
    
} 

.shoplist > .shop_box p{
    /* border: 1px solid rgb(107, 40, 231); */
    font-family: "Heiti TC", "sans-serif";
    font-size: 20px;
    line-height: 45px;　
}

.shoplist > .shop_box .map{
    /* border: 1px solid rgb(107, 40, 231); */
    font-family: "Heiti TC", "sans-serif";
    font-size: 20px;
    line-height: 30px;　
}


.shoplist > .shop_box a{
    display: inline-block;
    color: black;
    text-decoration: none;
    /* border: 1px solid rgb(107, 40, 231);  */
    font-size: 0;
}
    


p.shop_name{
    /* border: 1px solid rgb(107, 40, 231); */
    /* line-height: 30px;　 */
    /* font-size: 20px; */
    font-weight: bold;
}





.shoplist > .shop_box > .shop1{
    /* border: 1px solid rgb(7, 255, 40); */
    display: inline-block;
    /* position: relative; */
    width: 33%;
    vertical-align: top;
    margin: 0 20px 0 20px;
}




.shoplist > .shop_box > .shop1 > .shop1_bg{
    /* position: relative; */
    /* border: 1px solid rgb(7, 255, 40); */
    /* width: 25%; */
    /* display: inline-block; */
    /* width: 33%; */
    margin-bottom: 10px;
    /* transition: width 1s,height 1s; */
}


.shoplist > .shop_box > .shop1 > .shop1_bg:hover{
    transform: scale(1.05);
    transition: all 300ms ease-in-out;
}




.shoplist > .shop_box > .shop1 > .shop_txt{
    /* width: 250px;
    margin-left: auto ;
    margin-right: auto ; */
    position: relative;
}

.shoplist > .shop_box > .shop1 > .shop_txt > img{
    /* border: 1px solid rgb(107, 40, 231); */
    position: absolute;
    left: -40px;
    top: 35px;
    width: 30px;
}





.shoplist > .shop_box > .shop2{
    /* border: 1px solid rgb(27, 255, 40); */
    display: inline-block;
    /* position: relative; */
    width: 33%;
    vertical-align: top;
    margin: 0 20px 0 20px;
}

.shoplist > .shop_box > .shop2 > .shop2_bg{
    /* position: relative; */
    /* border: 1px solid rgb(7, 255, 40); */
    /* width: 25%; */
    /* display: inline-block; */
    /* width: 33%; */
    margin-bottom: 10px;
}

.shoplist > .shop_box > .shop2 > .shop2_bg:hover{
    transform: scale(1.05);
    transition: all 300ms ease-in-out;
}



.shoplist > .shop_box > .shop2 > .shop_txt{
    /* width: 250px;
    margin-left: auto ;
    margin-right: auto ; */
    position: relative;
}

.shoplist > .shop_box > .shop2 > .shop_txt > img{
    /* border: 1px solid rgb(107, 40, 231); */
    position: absolute;
    left: -40px;
    top: 35px;
    width: 30px;
}





.shoplist > .shop_box > .shop3{
    /* border: 1px solid rgb(27, 255, 40); */
    display: inline-block;
    /* position: relative; */
    width: 33%;
    vertical-align: top;
    margin: 0 20px 0 20px;
}

.shoplist > .shop_box > .shop3 > .shop3_bg{
    /* position: relative; */
    /* border: 1px solid rgb(7, 255, 40); */
    /* width: 25%; */
    /* display: inline-block; */
    /* width: 33%; */
    margin-bottom: 10px;
}


.shoplist > .shop_box > .shop3 > .shop3_bg:hover{
    transform: scale(1.05);
    transition: all 300ms ease-in-out;
}



.shoplist > .shop_box > .shop3 > .shop_txt{
    /* width: 250px;
    margin-left: auto ;
    margin-right: auto ; */
    position: relative;
}

.shoplist > .shop_box > .shop3 > .shop_txt > img{
    /* border: 1px solid rgb(107, 40, 231); */
    position: absolute;
    left: -40px;
    top: 35px;
    width: 30px;
}


.shoplist_more{
    /* border: 1px solid red; */
    width: 1200px;
    margin-left: auto ;
    margin-right: auto ;
}


.shoplist_more > a{
    font-size: 0px;
    /* display: inline-block;     */
}

.shoplist_more img{
    width: 100px;
    border: 3px solid rgb(255, 236, 236);
    border-radius: 35%;
    display: inline-block;    
    /* font-size: 0px; */
    display: flex;    
    margin:0px auto;
    
}

.shoplist_more img:hover{
    box-shadow: 0 0 15px 5px rgb(122, 59, 59);
}



/* --------------------lookbook 區塊------------------- */

.lookbook{
    width: 1200px;
    margin-left: auto ;
    margin-right: auto ;
    /* border: solid 1px rgb(5, 21, 243); */
    margin-bottom: 100px;
}




.lookbook > .lookbook_title{
    /* border: 1px solid red; */
    font-family: "Heiti TC", "sans-serif";
    /* position: absolute; */
    /* top: 200px;
    left: 45px; */
    transform: skewX(-12deg);
    font-size: 35px;
    text-align: right;
    /* padding-left: -150px; */
    /* padding-top: 80px; */
    /* font-weight: bold; */
    /* display: inline-block; */
    /* margin: 40px 0 80px 0; */
    /* width: 1200px; */
    /* margin-left: auto ;
    margin-right: auto ;   */

}

.lookbook > a{
    display: inline-block;
    font-size: 0px;
}


.lookbook > .lookbook_title h2{
    transform: translateY(80%);
}


.look1{
    width: 33%;
    /* border: solid 1px rgb(46, 248, 154); */
    opacity: 1;
    transition: all 200ms ease-in-out;
}

.look1:hover{
    opacity: 0.5;
}



.look2{
    width: 33%;
    /* border: solid 1px rgb(46, 248, 154); */
    opacity: 1;
    transition: all 200ms ease-in-out;
    margin-bottom: 50px;
}

.look2:hover{
    opacity: 0.5;
}



.look3{
    width: 33%;
    /* border: solid 1px rgb(46, 248, 154); */
    opacity: 1;
    transition: all 200ms ease-in-out;
}


.look3:hover{
    opacity: 0.5;
}


.lookbook > .pinkline_top{
    width: 380px;
    transform: translateY(200%);
}

.lookbook > .pinkline_down{
    width: 580px;
    /* border: solid 1px rgb(46, 248, 154); */
    margin-top: 20px;
    transform: translateX(112%);
}



/* --------------------pickup 區塊------------------- */

.pickup{
    width: 1200px;
    margin-left: auto ;
    margin-right: auto ;
}




.pickup h2{
    /* border: 1px solid red; */
    font-family: "Heiti TC", "sans-serif";
    /* position: absolute; */
    /* top: 200px;
    left: 45px; */
    transform: skewX(-12deg);
    font-size: 50px;
    padding-left: -150px;
    padding-top: 50px;
    /* font-weight: bold; */
    /* display: inline-block; */
    margin: 20px 0 20px 0;
    width: 1200px;
    margin-left: auto ;
    margin-right: auto ;  
    
}


.pickup_more{
    /* border: 1px solid red; */
    width: 1200px;
    margin-left: auto ;
    margin-right: auto ;
    margin: 10px 0 30px 0;
}

.pickup a{
    display: inline-block;
    font-size: 0px;
    /* border: 1px solid #00f1c9; */
}

.pickup_more img{
    width: 100px;
    border: 3px solid rgb(255, 236, 236);
    border-radius: 35%;
    display: inline-block;    
    /* font-size: 0px; */
    display: flex;    
    margin-left: 0px;
    
}

.pickup_more img:hover{
    box-shadow: 0 0 15px 5px rgb(122, 59, 59);
}




.pickup > .pickup1{
    /* border: 1px solid red; */
    display: inline-block;
    position: relative;
    width: 33%;
  

}


.pickup > .pickup1 > .pickup1_img{
    border: 10px solid #ECC7C7;
    display: inline-block;
    margin-bottom: 10px ;
}


.pickup > .pickup1 > .pickup1_img .pickup_star{
    position: absolute;
    /* opacity: 0; */
    transition: all 200ms ease-in-out;
    top: 10px;
    left: 10px;
    width: 95%;
}


.pickup > .pickup1 > .pickup1_img .pickup_star:hover{
    opacity: 0;
}



.pickup > .pickup2{
    /* border: 1px solid red; */
    display: inline-block;
    position: relative;
    width: 33%;
}


.pickup > .pickup2 > .pickup2_img{
    border: 10px solid #ECC7C7;
    display: inline-block;
    margin-bottom: 10px ;
}


.pickup > .pickup2 > .pickup2_img .pickup_star{
    position: absolute;
    /* opacity: 0; */
    transition: all 200ms ease-in-out;
    top: 10px;
    left: 10px;
    width: 95%;
}


.pickup > .pickup2 > .pickup2_img .pickup_star:hover{
    opacity: 0;
}




.pickup > .pickup3{
    /* border: 1px solid red; */
    display: inline-block;
    position: relative;
    width: 33%;
}


.pickup > .pickup3 > .pickup3_img{
    border: 10px solid #ECC7C7;
    display: inline-block;
    margin-bottom: 10px ;
}


.pickup > .pickup3 > .pickup3_img .pickup_star{
    position: absolute;
    /* opacity: 0; */
    transition: all 200ms ease-in-out;
    top: 10px;
    left: 10px;
    width: 95%;
}


.pickup > .pickup3 > .pickup3_img .pickup_star:hover{
    opacity: 0;
}





.pickup_txt p{
    /* border: 1px solid rgb(10, 230, 76); */
    font-family: "Heiti TC", "sans-serif";
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
    color: rgb(24, 12, 12);
    /* margin:0px auto; */
    text-align: center;
}





/* --------------------footer 區塊------------------- */

footer{
    width: 1200px;
    margin: 0px auto;
    /* border: 1px solid rgb(10, 230, 76); */
    padding: 50px;
    display: flex;
    justify-content: center; 
    margin-top: 50px;
}


footer > .contact{
    width: 100%;
    height: 100%;
    margin: 0px auto;
    text-align: center;
    /* border: 1px solid rgb(32, 10, 230); */
    
    /* display: inline-block; */
}

footer > .contact .footer_logo{
    margin: 10px;
    width: 70%;
    /* border: 1px solid rgb(28, 230, 10); */
    opacity: 0.7;
}

footer > .contact .footer_logo:hover{
    opacity: 1;
    transition: all 200ms ease-in-out;
}


footer > .contact a{
    display: inline-block;
    /* border: 1px solid rgb(230, 190, 10); */
    font-size: 0px;
}


footer > .contact h3{
    /* border: 1px solid rgb(10, 142, 230); */
    font-family: "Heiti TC", "sans-serif";
    font-size: 15px;
    /* display: inline; */
    margin: 10px 0 10px 0;
    color: rgb(97, 96, 96);
}


footer .footer_icon img{
    /* border: 1px solid rgb(230, 10, 113); */
    width: 30px;
    height: 30px;
    margin: 10px 15px 10px 15px;
    display: inline-block;
    opacity: 0.7;
}

footer .footer_icon img:hover{
    opacity: 1;
    transition: all 200ms ease-in-out;
}




